/*-------------------------------------------MAQUETADO--------------------------------------------*/

.contenedor {
    /* Contenedor GRID*/
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
}

.logo {
    grid-column: 1/1;
    grid-row: 1/2;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.nav {
    grid-column: 2/7;
    grid-row: 1/2;
    font-family: "Glory", sans-serif;
    font-size: 2rem;
    color: #e66967;
    margin-top: 3rem;
}

.portada {
    grid-column: 1/7;
    grid-row: 2/3;
    height: 40rem;
}

.item1 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.item2 {
    grid-column: 4/7;
    grid-row: 3/4;
}

#volver {
    grid-area: volver;
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    border-radius: 0rem;
}

.footer {
    grid-column: 1/7;
    grid-row: 5/6;
    background-color: #c76665;
    padding: 2rem;
}


/*-----------------------------CARACTERÍSTICAS------------------------------------------*/


/* .cabecera {
    position: fixed;
} */

.opcion {
    padding: 2rem;
    /*si corro esto, me corre la imagen*/
    position: relative;
    align-content: center;
    margin-right: 10.8rem;
    border-radius: 2rem;
}

.portada>img {
    height: 100%;
    width: 100%;
}

.bordes {
    background-color: #ffa09ea6;
    border-radius: 2rem;
    border: 0.5rem solid #34586e;
    margin: 1rem;
    padding: 1rem;
}

h1 {
    /*titulo adiestramiento canino insertado en imágen*/
    position: relative;
    font-family: 'Glory', sans-serif;
    background-color: #ffa09ea6;
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    top: -7.7rem;
}

h2 {
    background-color: #34586e;
    border-radius: 0.5rem;
    padding: 1rem;
}

ul,
{
    font-size: 2rem;
}

.contacto {
    /*display: inline-block;*/
    font-size: 2rem;
    margin-left: 40%;
}

.ig {
    font-size: 2rem;
    margin: auto 5rem;
}

.linkedin {
    /*display: inline-block;*/
    font-size: 3rem;
    margin-left: 50%;
}

.opcion:hover {
    background-color: #ffa09e7e;
    background-color: #34586e;
    color: rgb(251, 252, 249);
}


/*--------------------------------------- SECCION CONTACTO------------------------------------------*/

.contenedor_contacto {
    /* Contenedor GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*     grid-template-rows: 1rem 1rem 1rem 1rem;
 */
    grid-template-areas: 'titulo titulo' 'titulo1 titulo2' 'form maps''volver volver';
    gap: 1rem;
}

.titulo {
    grid-area: titulo;
    margin-top: 7rem;
    font-family: 'Glory', sans-serif;
}

.formulario {
    /*content: 'Formulario de contacto' attr(data-socio);*/
    grid-area: form;
    padding: 1rem 4rem;
    margin-right: 20rem;
    border: 0.2rem #ffa09e solid;
    box-shadow: 1rem 1.5rem 2rem 1rem #524f4fbc;
    font-size: 1.5rem;
}

.maps {
    grid-area: maps;
}

.titulo1 {
    grid-area: titulo1;
}

.titulo2 {
    grid-area: titulo2;
}


/*---------------------------------------ADIESTRAMIENTO------------------------------------------*/

.tituloSeccion {
    font-size: 2rem;
    grid-column: 1/7;
    grid-row: 1/2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.portadaGeneral {
    grid-column: 1/7;
    grid-row: 2/3;
}

.adiestramientoExplicacion {
    /* grid-column: 1/6;
    grid-row: 2/3; 
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;*/
    font-size: 2rem;
    text-align: justify;
    padding: 2rem;
}


/*-------------------------------------------------GUARDERÍA-------------------------------------*/


/*
@media (min-width: 480px) {
    .cabecera {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 1fr;
        column-gap: 2rem;
    }
}*/

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
    .contenido {}
}