html {
    /*box-sizing: border-box;*/
    font-size: 10px;
    overflow: scroll;
    display: inline-flex;
    background-color: rgb(143, 136, 136);
    /*margin-right: auto;*/
}

body {}

.imagenPortada {
    position: relative;
    height: 100%;
    width: 100%;
    /*definido así para que ocupe el total en ancho*/
}

h1>span {
    /*titulo adiestramiento canino insertado en imágen*/
    position: relative;
    font-family: 'Glory', sans-serif;
    background-color: #ffa09ea6;
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    top: -6rem;
}

.opciones {
    position: relative;
    top: -50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffa09ea6;
}

.opciones>section {
    font-family: "Glory", sans-serif;
    font-size: 3rem;
    color: #fffdfe;
    padding: 1rem;
}

p {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 0, 0);
    font-size: 1rem;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: rgb(253, 253, 9);
}

#contacto {
    display: inline-block;
    margin: 10px;
    padding: 1rem;
}

.opciones:hover {
    background-color: #be6968b9;
    color: rgb(251, 252, 249);
}


/*NO FUNCIONA*/

footer {
    background-color: #ffa09e;
    size: 3rem;
    bottom: 0;
    width: 100%;
}