/*ESTILOS GENERALES, VOLVER Y WHATSAP*/

html {
    font-size: 10px;
    overflow: scroll;
    display: inline-flex;
    font-family: serif, Arial, sans-serif;
    /* width: 100%;
    height: 100%; */
    /*margin-right: auto;*/
}

* {
    box-sizing: border-box;
}

.whatsapp {
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 4rem;
    right: 4rem;
    background-color: #25d366;
    color: #FFF;
    border-radius: 2rem;
    /*     border: 0.3rem solid #25d366;
 */
    text-align: center;
    font-size: 3rem;
    z-index: 100;
    margin-bottom: -2rem;
}

.whatsapp-icon {
    margin-top: 0.5rem;
}

h2 {
    font-family: 'Glory', sans-serif;
}

.resaltar {
    font-style: italic;
    font-size: 2rem;
}