.contenedor {
    /* Contenedor GRID*/
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    /*grid-template-columns: auto;
    grid-template-areas: 'logo nav nav nav nav nav' 'portada portada portada portada portada portada' 'contenido contenido contenido contenido contenido contenido' 'footer footer footer footer footer footer';
    border: 0.1rem solid #ffa09e;*/
}

.logo {
    /*grid-area: logo;*/
    grid-column: 1/1;
    grid-row: 1/2;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.nav {
    /*grid-area: nav;*/
    grid-column: 2/7;
    grid-row: 1/2;
    font-family: "Glory", sans-serif;
    font-size: 2rem;
    color: #e66967;
    margin-top: 2.5rem;
}

.opcion {
    padding: 1rem 2rem;
    /*si corro esto, me corre la imagen*/
    position: relative;
    align-content: center;
    margin-right: 11.1rem;
    border-radius: 2rem;
}

.portada {
    /*grid-area: portada;
    position: relative;*/
    grid-column: 1/7;
    height: 40rem;
}

.portada>img {
    height: 100%;
    width: 100%;
    /*margin: 0 auto;*/
}

.contenido {
    /*grid-area: contenido;*/
    grid-column: 1/7;
}

h1 {
    /*titulo adiestramiento canino insertado en imágen*/
    position: relative;
    font-family: 'Glory', sans-serif;
    background-color: #ffa09ea6;
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    top: -7.7rem;
}

p {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 0, 0);
    font-size: 1rem;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: rgb(62, 9, 253);
}

.contacto {
    /*display: inline-block;*/
    font-size: 2rem;
    margin-left: 40%;
}

.ig {
    font-size: 2rem;
    margin: auto 5rem;
}

.linkedin {
    /*display: inline-block;*/
    font-size: 3rem;
    margin-left: 50%;
}

.opcion:hover {
    /*background-color: #be6968b9;*/
    background-color: #ffa09e7e;
    background-color: #fc8cedef;
    color: rgb(251, 252, 249);
    /*animation-timing-function: 2s;
    animation-delay: 3s;*/
}

.footer {
    grid-column: 1/7;
    background-color: #ffa09e;
    margin-top: 2rem;
    padding: 3rem;
}


/*--------------------------------------- SECCION CONTACTO------------------------------------------*/

.contenedor_contacto {
    /* Contenedor GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*     grid-template-columns: 50% 50%;*/
    grid-template-areas: 'titulo titulo' 'titulo1 titulo2' 'form maps';
    gap: 1rem;
    /*grid-template-columns: auto;
    grid-template-areas: 'logo nav nav nav nav nav' 'portada portada portada portada portada portada' 'contenido contenido contenido contenido contenido contenido' 'footer footer footer footer footer footer';
    border: 0.1rem solid #ffa09e;*/
}

.titulo {
    grid-area: titulo;
    margin-top: 7rem;
    font-family: 'Glory', sans-serif;
}

.formulario {
    /*content: 'Formulario de contacto' attr(data-socio);*/
    grid-area: form;
    padding: 1rem 4rem;
    margin-right: 20rem;
    border: 0.2rem #ffa09e solid;
    box-shadow: 1rem 1.5rem 2rem 1rem #524f4fbc;
    font-size: 1.5rem;
}

.maps {
    grid-area: maps;
}

.titulo1 {
    grid-area: titulo1;
}

.titulo2 {
    grid-area: titulo2;
}


/*---------------------------------------ADIESTRAMIENTO------------------------------------------*/

.adiestramiento {
    font-size: 2rem;
    grid-column: 1/6;
    grid-row: 1/2;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.adiestramientoExplicacion {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

#volver {
    grid-column: 1/2;
    grid-row: 3/3;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}


/*
@media (min-width: 480px) {
    .cabecera {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 1fr;
        column-gap: 2rem;
    }
}*/

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
    .contenido {}
}