/*-------------------------------------------MAQUETADO--------------------------------------------*/

.contenedor {
    /* Contenedor GRID*/
    display: grid;
    /*     max-width: 1000px;
 */
    width: 100%;
    margin: 0 auto;
    /*     overflow: hidden;
 */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
}

.logo {
    position: fixed;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: -3rem;
    margin-left: -3rem;
    /* margin-left: 3rem;
    margin-bottom: 2rem; */
}

.nav {
    grid-column: 2/7;
    grid-row: 1/2;
    font-family: "Glory", sans-serif;
    font-size: 2rem;
    /* color: #e66967; */
    margin-left: 12.5rem;
}

.contenedorNAV {
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding: 4rem;
    z-index: 50;
    width: 100%;
}

.portada {
    /* IMAGEN */
    /*     display: flex;
 */
    /* min-height: 900;
    min-width: 700;
    max-width: 1300px; */
    grid-column: 1/7;
    grid-row: 2/3;
    margin-top: 10rem;
    height: 70%;
    width: 100%;
}

.item1 {
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: -17rem;
    /*     margin-top: -12rem;
 */
    /*     max-width: 90%;
    max-height: 90%; */
    /*     width: 100%;
 */
}

.item2 {
    grid-column: 4/7;
    grid-row: 3/4;
    margin-top: -12rem;
    /*     width: 100%;
 */
    /*     margin: 0 auto;
      max-width: 90%;
    max-height: 90%; */
}

#volver {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    border-radius: 0rem;
    font-size: 1.5rem;
    color: black;
}

.footer {
    grid-column: 1/7;
    grid-row: 5/6;
    background-color: #82815E;
    padding: 0.3rem;
    text-align: center;
}

.tituloSeccion {
    font-size: 2rem;
    grid-column: 1/7;
    grid-row: 1/2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.portadaGeneral {
    grid-column: 1/7;
    grid-row: 2/3;
    text-align: center;
}


/*-----------------------------CARACTERÍSTICAS------------------------------------------*/

.opcion {
    padding: 2rem;
    /*si corro esto, me corre la imagen*/
    position: relative;
    align-content: center;
    margin-right: 10.8rem;
    border-radius: 2rem;
    color: #34586e;
}

a:link,
a:visited {
    columns: rgb(2, 0, 0);
}

a:hover {
    color: white;
}

.portada>img {
    height: 100%;
    width: 100%;
    /*     height: auto;
 */
}

.bordes {
    background-color: #ff9ea07c;
    border-radius: 2rem;
    border: 0.2rem solid #34586e;
    margin: 2rem;
    padding: 2rem;
}

h1 {
    /*titulo adiestramiento canino insertado en imágen*/
    position: relative;
    font-family: 'Glory', sans-serif;
    background-color: #ffa09ea6;
    background-color: #ff9ea086;
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    top: -7.7rem;
}

h2 {
    background-color: #5E5E4D;
    border-radius: 0.5rem;
    padding: 3rem;
    text-align: center;
    width: 100%;
}

ul,
{
    font-size: 2rem;
}

.contacto {
    /*display: inline-block;*/
    font-size: 2rem;
    /* margin-left: 40%; */
}

.ig {
    font-size: 2rem;
    margin: auto 1rem;
}

.linkedin {
    /*display: inline-block;*/
    font-size: 3rem;
    /*  margin-left: 50%; */
}

.opcion:hover {
    background-color: #34586e;
    color: rgb(251, 252, 249);
}

.primeraLetra::first-letter {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}


/*---------------------------------------ADIESTRAMIENTO------------------------------------------*/

.item1 img {
    width: 100%;
    height: 100%;
}


/* .item1>p {
    grid-column: 1/4;
    grid-rows: 3/4;
    margin-top: -12rem;
} */

.adiestramientoExplicacion {
    /* grid-column: 1/6;
    grid-row: 2/3; 
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;*/
    font-size: 2rem;
    text-align: justify;
    padding: 3rem;
}


/*--------------------------------------- SECCION CONTACTO------------------------------------------*/


/* .contenedor_contacto {
    /* Contenedor GRID
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'titulo titulo' 'titulo1 titulo2' 'form maps''volver volver';
    gap: 2rem;
}
 */


/* .titulo {
    grid-area: titulo;
    margin-top: 10rem;
    font-family: 'Glory', sans-serif;
}
 */

.titulo1 {
    grid-column: 1/4;
    grid-rows: 2/3;
}

.titulo2 {
    grid-columns: 4/7;
    grid-rows: 2/3;
}

.formulario {
    /*content: 'Formulario de contacto' attr(data-socio);*/
    grid-columns: 1/4;
    grid-rows: 3/4;
    padding: 1rem 7rem;
    margin: 2rem 10rem;
    border: 0.2rem #ffa09e solid;
    box-shadow: 1rem 1.5rem 2rem 1rem #524f4fbc;
    font-size: 1.5rem;
}

.maps {
    grid-columns: 4/7;
    grid-rows: 3/4;
    margin: 2rem 10rem;
}


/*-------------------------------------------------GUARDERÍA-------------------------------------*/

.itemGuarderia {
    grid-column: 1/5;
    grid-row: 2/4;
}

.guarderiaImg {
    grid-column: 5/7;
    grid-row: 2/4;
}

.quienSoyImg {
    grid-column: 1/4;
    grid-row: 3/4;
}


/*
@media (min-width: 480px) {
    .cabecera {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 1fr;
        column-gap: 2rem;
    }
}*/

@media screen and (max-width: 600px) {
    .nav {
        /*         float: right;
 */
        width: 100%;
        /*         margin-left: 7rem;
 */
        flex-direction: column;
    }
    .item1 {
        width: 100%;
        grid-column: 1/7;
        grid-row: 3/4;
    }
    .item2 {
        width: 100%;
        grid-column: 1/7;
        grid-row: 4/5;
    }
}